@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #0d122b;
}

@theme inline {
  --color-primary: #526df4;
  --color-secondary: #f38735;
  --color-accent: #4ad147;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: #0d122b;
  --color-green: #4BD148;
  --color-off-white: #FFFAF7;
  --color-red: #FF5757;
  --color-yellow: #FEBD59;
  --color-dark-blue: #287BA0;
  --color-orange: #F38735;
  --color-dark-bg: #0D122C;
  --font-orbitron: 'Orbitron', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-telegraf: 'Telegraf', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D122C;
    --foreground: #FFFAF7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}


/* Hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.3);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.5);
}

/* For dark mode */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(75, 85, 99, 0.3);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(75, 85, 99, 0.5);
}
